  <!-- content -->
<div id="content">
    <!-- banner -->
    <!-- swiper -->
    <div class="swiper-style-banner">
        <div class="bg"></div>
        <div class="swiper-container" data-speed="1000" data-parallax="1" data-pagination-rel="0"
             data-breakpoints="1" data-slides-per-view="1" data-xs-slides="1" data-sm-slides="1" data-md-slides="1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="banner">
                        <div class="banner-inner">
                            <div class="banner-item" style="background-image: url(/Content/img/banner-img-1.jpeg);">
                                <div class="banner-item-small-wrapper">
                                    <div class="banner-item-small">
                                        <span data-swiper-parallax="-100"><i>branding &#47; photoshooting</i></span>
                                        <span data-swiper-parallax="-200">
                                            <i>for:</i> <a href="#">
                                                Fashion Life
                                                company
                                            </a>
                                        </span>
                                        <div class="banner-item-small-img"
                                             style="background-image: url(/Content/img/banner-img-1-1.jpeg);"></div>
                                    </div>
                                </div>
                                <article class="text-center">
                                    <h1 class="h1" data-swiper-parallax="-200">Art &#8211; real passion</h1>
                                    <p data-swiper-parallax="-400">
                                        <span>
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Cras elementum id metus ac tempus. Praesent ut mauris
                                            eget velit volutpat posuere
                                        </span>
                                    </p>
                                    <div class="btn-wrap" data-swiper-parallax="-600">
                                        <a href="#"
                                           class="btn-1"><span>view more</span></a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banner">
                        <div class="banner-inner">
                            <div class="banner-item" style="background-image: url(/Content/img/banner-img-2.jpeg);">
                                <div class="banner-item-small-wrapper">
                                    <div class="banner-item-small">
                                        <span data-swiper-parallax="-100"><i>branding &#47; photoshooting</i></span>
                                        <span data-swiper-parallax="-200">
                                            <i>for:</i> <a href="#">
                                                Fashion Life
                                                company
                                            </a>
                                        </span>
                                        <div class="banner-item-small-img"
                                             style="background-image: url(/Content/img/banner-img-2-1.jpeg);"></div>
                                    </div>
                                </div>
                                <article class="text-center">
                                    <h2 class="h1" data-swiper-parallax="-200">Art &#8211; real passion</h2>
                                    <p data-swiper-parallax="-400">
                                        <span>
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Cras elementum id metus ac tempus. Praesent ut mauris
                                            eget velit volutpat posuere
                                        </span>
                                    </p>
                                    <div class="btn-wrap" data-swiper-parallax="-600">
                                        <a href="#"
                                           class="btn-1"><span>view more</span></a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banner">
                        <div class="banner-inner">
                            <div class="banner-item" style="background-image: url(/Content/img/banner-img-3.jpeg);">
                                <div class="banner-item-small-wrapper">
                                    <div class="banner-item-small">
                                        <span data-swiper-parallax="-100"><i>branding &#47; photoshooting</i></span>
                                        <span data-swiper-parallax="-200">
                                            <i>for:</i> <a href="#">
                                                Fashion Life
                                                company
                                            </a>
                                        </span>
                                        <div class="banner-item-small-img"
                                             style="background-image: url(/Content/img/banner-img-3-1.jpeg);"></div>
                                    </div>
                                </div>
                                <article class="text-center">
                                    <h2 class="h1" data-swiper-parallax="-200">Art &#8211; real passion</h2>
                                    <p data-swiper-parallax="-400">
                                        <span>
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Cras elementum id metus ac tempus. Praesent ut mauris
                                            eget velit volutpat posuere
                                        </span>
                                    </p>
                                    <div class="btn-wrap" data-swiper-parallax="-600">
                                        <a href="#"
                                           class="btn-1"><span>view more</span></a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banner">
                        <div class="banner-inner">
                            <div class="banner-item" style="background-image: url(/Content/img/banner-img-4.jpeg);">
                                <div class="banner-item-small-wrapper">
                                    <div class="banner-item-small">
                                        <span data-swiper-parallax="-100"><i>branding &#47; photoshooting</i></span>
                                        <span data-swiper-parallax="-200">
                                            <i>for:</i> <a href="#">
                                                Fashion Life
                                                company
                                            </a>
                                        </span>
                                        <div class="banner-item-small-img"
                                             style="background-image: url(/Content/img/banner-img-4-1.jpeg);"></div>
                                    </div>
                                </div>
                                <article class="text-center">
                                    <h2 class="h1" data-swiper-parallax="-200">Art &#8211; real passion</h2>
                                    <p data-swiper-parallax="-400">
                                        <span>
                                            Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Cras elementum id metus ac tempus. Praesent ut mauris
                                            eget velit volutpat posuere
                                        </span>
                                    </p>
                                    <div class="btn-wrap" data-swiper-parallax="-600">
                                        <a href="#"
                                           class="btn-1"><span>view more</span></a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-black"></div>
        </div>
    </div>
</div>
<!-- content -->