    <!-- content -->
<div id="content">
    <div class="baner-bg">
        <div class="bg-item fix" style="background-image:url(/Content/img/about_bg.jpeg)"></div>
        <div class="vertical-align full white-color">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                <h2 class="h2 title">Testimonials<span></span></h2>
                <div class="simple-text">
                    <div class="empty-space h25-xs"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum id metus ac tempus.
                        Praesent ut mauris eget velit volutpat posuere
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="empty-space h20-xs h100-md"></div>
        <div class="empty-space h30-xs"></div>
        <!-- customers -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="h2">Our customers &#38; clients<span></span></h2>
                </div>
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="text-center grey-dark">
                        <div class="empty-space h25-xs"></div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum id metus ac
                            tempus. Praesent ut mauris eget velit volutpat posuere
                        </p>
                    </div>
                </div>
            </div>
            <div class="empty-space h45-xs h60-md"></div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
                    <!-- swiper -->
                    <div class="swiper-style-3">
                        <div class="swiper-button-prev swiper-button square-style" data-pagination-rel="3">
                        </div>
                        <div class="swiper-button-next swiper-button square-style" data-pagination-rel="3">
                        </div>
                        <div class="swiper-container" data-speed="1000" data-space="140" data-pagination-rel="3"
                             data-breakpoints="1" data-slides-per-view="2" data-xs-slides="1" data-sm-slides="2"
                             data-md-slides="2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="~/Content/img/author-img-1.png" alt="">
                                    <div class="empty-space h30-xs"></div>
                                    <img src="~/Content/img/quote.png" alt="">
                                    <div class="empty-space h25-xs"></div>
                                    <article>
                                        <h6 class="h7">
                                            Duis iaculis at nulla make id aliquam aecenas elementum
                                            lectus here pulvinar vedit
                                        </h6>
                                        <div class="empty-space h20-xs"></div>
                                        <p>Lastin Menson, designer</p>
                                    </article>
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/Content/img/author-img-2.png" alt="">
                                    <div class="empty-space h30-xs"></div>
                                    <img src="~/Content/img/quote.png" alt="">
                                    <div class="empty-space h25-xs"></div>
                                    <article>
                                        <h6 class="h7">
                                            Duis iaculis at nulla make id aliquam aecenas elementum
                                            lectus here pulvinar vedit
                                        </h6>
                                        <div class="empty-space h20-xs"></div>
                                        <p>Olivia Menson, designer</p>
                                    </article>
                                </div>
                                <div class="swiper-slide">
                                    <img src="~/Content/img/author-img-1.png" alt="">
                                    <div class="empty-space h30-xs"></div>
                                    <img src="~/Content/img/quote.png" alt="">
                                    <div class="empty-space h25-xs"></div>
                                    <article>
                                        <h6 class="h7">
                                            Duis iaculis at nulla make id aliquam aecenas elementum
                                            lectus here pulvinar vedit
                                        </h6>
                                        <div class="empty-space h20-xs"></div>
                                        <p>Lastin Menson, designer</p>
                                    </article>
                                </div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-black"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-space h40-xs h40-md"></div>
        </div>
        <!-- customers -->
    </section>
</div>